body {

  margin: 0;

}

header {
  background: #047cf7;
  padding: 5px 40px ;
}
header h1 {
  font-family: 'Ranga', cursive;
  color: #aeacac;
  margin: 0 auto;
}

.lists {
  display: inline-flex;
  /*margin-right: 20px;*/
  border: 1px #7a7a7a solid;
  border-radius: 5px;
  width: 270px;
  height:80px;
  background: #dbdada;
}

.lists h2{
  margin: 0 auto;
}

.basis{
  margin-top: 20px;
margin-left: 50px
}

.addList {
  display: inline-flex;
height: 100px;
background: #047cf7;
border-radius: 10px;
border: 1px solid black;
}

.addList input {
  margin: 10px;
    border-radius: 5px;
}

.fa-times{
  cursor: pointer; 
}



















[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
