body {

  margin: 0;

}

header {
  background: #047cf7;
  padding: 5px 40px ;
}
header h1 {
  font-family: 'Ranga', cursive;
  color: #aeacac;
  margin: 0 auto;
}

.lists {
  display: inline-flex;
  flex-direction: column;
  /*margin-right: 20px;*/
  border: 1px #7a7a7a solid;
  border-radius: 5px;
  width: 270px;
  min-height:40px;
  background: #dbdada;
  
  margin: 5px;
}

.lists h2{
  margin: 0 auto;
}

.listNameConteiner {
  display: inline-flex;
}

.basis{
  margin-top: 20px;
margin-left: 50px
}

.addList {
  display: inline-flex;
height: 100px;
background: #047cf7;
border-radius: 10px;
border: 1px solid black;
}

.addList input {
  margin: 10px;
    border-radius: 5px;
}

.fa-times{
  cursor: pointer;
}

.card{
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    margin: 5px 10px;
    border: 1px solid #b9b9b9;

}



















[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
